{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Buy/Sell Transaction History</h1>
        <table class="table table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>Transaction Type</td>
                    <td>Stock Symbol</td>
                    <td>Stock Price</td>
                    <td>Shares</td>
                    <td>Transaction Timestamp</td>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactionList%}
                <tr>
                    <td>{{ transaction.transactType }}</td>
                    <td>{{ transaction.stockSymbol }}</td>
                    <td>{{ transaction.stockPrice | usd }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Add Cash Transaction History</h1>
        <table class="table table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>Transaction Type</td>
                    <td>Cash</td>
                    <td>Transaction Timestamp</td>
                </tr>
            </thead>
            <tbody>
                {% for transaction in addTransactionList%}
                <tr>
                    <td>Add</td>
                    <td>{{ transaction.cash | usd }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
