{% extends "layout.html" %}

{% block title %}
    Quote Results
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Quoted Stock Details</h1>
        <table class="table table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Symbol</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ stockDetails.name }}</td>
                    <td>{{ stockDetails.price }}</td>
                    <td>{{ stockDetails.symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
