{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <h1>Sell a Stock!</h1>
        <select name="symbol" class="inline-elements" required>
            {% for stock in stockList%}
                <option value='{{ stock.stockSymbol }}'>{{ stock.stockSymbol }}</option>
            {% endfor %}
        </select>
        <input class="form-control inline-elements mx-auto w-auto" autocomplete="off" autofocus min="1" name="shares" placeholder="Shares" required type="number">
        <button class="btn btn-primary inline-elements" type="submit">Sell</button>
    </form>
{% endblock %}
